*{
	margin: 0 auto;
	font-family: Helvetica;
}
#box {
	width: 500px;
    margin: 100px auto;
}
input {
	margin: 10px 5px 2px 0px;
	width: 160px;
    height: 20px;
}
#msg {
	font-size: 10px;
	display: inline-block;
    width: 133px;
}
#contact {
	width: 333px;
}
#bd {
	padding: 10px;
}
select {
	margin: 10px 0px 10px 0px;
}
#radio {
	width: 20px;
    margin: 10px 5px 20px 0px;
}
p {
	font-size: 12px;
}