/*hadzri*/
		* {
			border: 1px dashed blue;
            margin: 0 auto;
            background-color: orange;
        }
		p {
			text-align: justify;
			font-family: Verdana, arial, sans-serif;
			color: white;
			font-size: 11px;
            line-height: 1.8;
			}
		h1, h2, h3, legend {
			font-family: 'Ultra', serif;
			color: white;
            font-variant: small-caps;
            letter-spacing: 2px;
		}
		#box {
			width: 800px;
    		background: orange;
		}
		#header {
    		width: 799px;
    		height: 100px;
			border: 1px solid red;
			box-shadow: 2px 2px 123px yellow;
			background: orange;
			border-style: groove;
		}
		#logo {
   		 	width: 200px;
    		height: 80px;
    		padding: 10px 10px 10px 10px;
		}
		#link {
	  		width: 564px;
    		display: inline-block;
    		box-sizing: border-box;
    		height: 100px;
    		vertical-align: top;
		}
		#nav {
			padding: 0px;
			margin: 0px;
			height: 100px;
		}
		li {
			font-family: Verdana, arial, sans-serif;
    		display: inline-block;
    		margin: 38px 30px 0px 45px;
    		border-radius: 10%;
    		border: 1px solid red;
    		width: 100px;
    		box-shadow: 39px 0px 61px yellow;
    		background: orange;
    		font-size: 15px;
    		text-decoration: none;
}
		li a {
    		display: block;
    		font-weight: bold;
    		color: #FFFFFF;
    		text-align: center;
    		text-decoration: none;
		}
		li a:hover {
    		border-radius: 5%;
    		width: 100px;
			background: #FF0000;
		}
		#side {
    		width: 193px;
    		height: inherit;
    		display: inline-block;
    		padding: 10px;
    		margin: 30px 10px 0px 0px;
			border: 1px solid red;
    		position: relative;
    		box-shadow: 2px 2px 106px yellow;
    		background: orange;
    		vertical-align: top;
    		border-style: dashed;
		}
		.side1a {
    		top: -9px;
    		width: 10px;
    		height: 10px;
    		-webkit-border-radius: 100px;
    		background-color: red;				
    		box-shadow: 2px 2px 106px yellow;
            position: absolute;
		}
		#side1 {
		   	right: -10px;
		}
		#side2 {
		   	left: -9px;
		}
		.side1b {
    		bottom: -9px;
    		width: 10px;
    		height: 10px;
    		-webkit-border-radius: 100px;
    		background-color: red;	
    		box-shadow: 2px 2px 106px yellow;
            position: absolute;
		}
		#side3 {
		   	right: -10px;
		}
		#side4 {
		   	left: -9px;
		}
		#main {
    		height: inherit;
    		display: inline-block;
    		width: 300px;
    		padding: 10px;
    		position: relative;
    		margin: 30px 10px 0px 10px;
    		border: 1px solid red;
    		vertical-align: top;
    		box-shadow: 2px 2px 106px yellow;
    		text-align: center;
    		border-style: dotted;
		}
		.main1a {
			border-style: solid;
    		top: -10px;
    		width: 0px;
    		height: 0px;
            position: absolute;
		}
		#main1 {
			border-width: 0px 20px 20px 0px;
    		border-color: transparent red transparent transparent;
		   	right: -5px;
		}
		#main2 {
			border-width: 20px 20px 0px 0px;
    		border-color: red transparent transparent transparent;
    	   	left: -5px;
    	}
    	.main1b {
    		border-style: solid;
    		width: 0px;
    		height: 0px;
    		bottom: -10px;    		
            position: absolute;
    	}
    	#main3 {
            right: -5px;
    		border-width: 0px 0px 20px 20px;
    		border-color: transparent transparent red transparent;
    	}
    	#main4 {
    		border-width: 20px 0px 0px 20px;
    		border-color: transparent transparent transparent red;
    		left: -5px;
    	}
		#sides {
			width: 193px;
			height: inherit;
			display: inline-block;
    		padding: 10px;
			margin: 30px 0px 0px 10px;
			border: 1px solid red;
			box-shadow: 2px 2px 106px yellow;
			border-style: dashed;
            position: relative;
		}
		.sides1a {
    		top: -10px;
    		width: 10px;
    		height: 10px;
    		-webkit-border-radius: 100px;
    		background-color: red;				
    		box-shadow: 2px 2px 106px yellow;
            position: absolute;
		}
		#sides1 {
		   	right: -10px;		
		}
		#sides2 {
		   	left: -10px;
		}
		.sides1b {
    		bottom: -10px;
    		width: 10px;
    		height: 10px;
    		-webkit-border-radius: 100px;
    		background-color: red;	
    		box-shadow: 2px 2px 106px red;
            position: absolute;
}
#sides3 {
	right: -10px;
        }
#sides4 {
	left: -10px;
}
form {
    width: 376px;
    display: inline-block;
    padding: 10px;
}
label {
    display: inline-block;
    width: 80px;
    font-family: Verdana, arial, sans-serif;
    color: white;
    font-size: 11px;
    margin: 4px 0px 4px 0px;
    padding: 2px;
    vertical-align: top;
}
input, textarea {
    margin: 4px 0px 4px 0px;
    width: 200px;
    background-color: orange;
    display: inline-block;
    font-family: Verdana, arial, sans-serif;
    color: white;
    font-size: 11px;
}
fieldset {
    width: 800px;
    display: inline-block;
    margin: 30px 0px;
    padding: 0px;
}
.box {
    width: 20px;
}
#form2 {
    display: inline-block;
    vertical-align: top;
    height: 229px;
}
#submit {
    text-align: center;
}
option, select {
    font-family: Verdana, arial, sans-serif;
    font-size: 11px;
    width: 89px;
    height: 20px;
    background-color: orange;
    color: white;
}
#footer {
    width: 780px;
    padding: 10px;
}
